/*
@sable-theme
id: cyber-noir
name: Cyber Noir
author: userspring
kind: dark
contrast: low
tags: yellow, black · recommended tweaks: square-everything, crt
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/cyber-noir.css
*/

.sable-theme-preview {
  --sable-bg-container: hsl(60, 45%, 1.5%);
  --sable-bg-on-container: hsl(62, 90%, 98%);
  --sable-surface-container: hsl(60, 45%, 1.5%);
  --sable-surface-container-line: hsl(60, 77%, 30%);
  --sable-surface-on-container: hsl(62, 0%, 100%);
  --sable-primary-main: hsl(60, 54%, 28%);
  --sable-primary-on-main: hsl(60, 70%, 66%);
}