/*
@sable-theme
id: cyberpunk-77
name: Cyberpunk 77
author: userspring
kind: dark
contrast: low
tags: red · recommended tweaks: square-everything, crt · unofficial unaffiliated fan work
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/cyberpunk-77.css
*/

.sable-theme-preview {
  --sable-bg-container: hsl(0, 45%, 8%);
  --sable-bg-on-container: hsl(200, 90%, 73%);
  --sable-surface-container: hsl(0, 44%, 8%);
  --sable-surface-container-line: hsl(0, 47%, 33%);
  --sable-surface-on-container: hsl(200, 90%, 79%);
  --sable-primary-main: hsl(0, 44%, 28%);
  --sable-primary-on-main: hsl(0, 70%, 66%);
}