/*
@sable-theme
id: os-mac9
name: OS Mac-9
author: userspring
kind: dark
contrast: low
tags: retro, purple · recommended tweaks: square-everything, crt · unofficial unaffiliated fan work
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/os-mac9.sable.css
*/

@font-face {
  font-family: IBM8x16;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/GreenB0t/Gachiakuta/master/Px437_IBM_VGA_8x16.ttf") format('truetype');
}
@font-face {
  font-family: ChicagoFLF;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/GreenB0t/Gachiakuta/master/ChicagoFLF.ttf") format('truetype');
}

/* Font Stuff */
body.sable-remote-theme :is(.layout_MessageTextBody_jumboEmoji_none__1r9nvas1b, 
[class*="CustomHtml_Paragraph__1t9vo331"], 
[class="layout_Username__1r9nvas16"] *, 
.Editor_Editor__1a1o97c0 *:not([class*="CustomHtml_EmoticonBase__1t9vo33q"] *)) {
    --custom-font-size1: 17px;
    --custom-line-height: 1.2;
    --custom-letter-spacing: 1px;
    letter-spacing: var(--custom-letter-spacing);
    font-size: var(--custom-font-size1) !important;
    line-height: var(--custom-line-height);
    font-family: IBM8x16, monospace, 'Twemoji', system-ui, -apple-system, sans-serif;
}
body.sable-remote-theme *:not([data-sentry-source-file="EmojiBoard.tsx"] *, 
[class*="layout_MessageTextBody_jumboEmoji"] *, 
[class*="CustomHtml_EmoticonBase__1t9vo33q"] *, 
[class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv44 prxiv4i prxiv41b prxiv41l prxiv41s"] *, 
[class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv4i prxiv41a prxiv41l prxiv41s"] *) {
    --custom-font-size2: 12.5px;
    font-size: var(--custom-font-size2);
}

body.sable-remote-theme {
  --font-secondary: ChicagoFLF, monospace, 'Twemoji', system-ui, -apple-system, sans-serif;

  /* Background */
  --sable-bg-container: hsl(260, 3%, 58.4%);
  --sable-bg-container-hover: hsl(260, 3%, 66%);
  --sable-bg-container-active: hsl(260, 3%, 35%);
  --sable-bg-container-line: hsl(260, 3%, 60%);
  --sable-bg-on-container: hsl(260, 0%, 8%);

  /* Surface */
  --sable-surface-container: hsl(250, 27%, 42%);
  --sable-surface-container-hover: hsl(250, 30%, 38%);
  --sable-surface-container-active: hsl(250, 15%, 26.3%);
  --sable-surface-container-line: hsl(250, 5%, 60%);
  --sable-surface-on-container: hsl(250, 0%, 90%);

  /* Surface Variant */
  --sable-surface-var-container: hsl(250, 5%, 55%);
  --sable-surface-var-container-hover: hsl(0, 0%, 40%);
  --sable-surface-var-container-active: hsl(250, 15%, 28%);
  --sable-surface-var-container-line: hsl(250, 5%, 65%);
  --sable-surface-var-on-container: hsl(250, 15%, 8%);
  
  /* Primary */
  --sable-primary-main: hsl(260, 3%, 90%);
  --sable-primary-main-hover: hsl(260, 0%, 50%);
  --sable-primary-main-active: hsl(260, 3%, 71.2%);
  --sable-primary-main-line: hsl(260, 3%, 65.7%);
  --sable-primary-on-main: hsl(260, 3%, 11.6%);
  --sable-primary-container: hsl(261, 4%, 32.5%);
  --sable-primary-container-hover: hsl(250, 30%, 38%);
  --sable-primary-container-active: hsl(261, 4%, 22.5%);
  --sable-primary-container-line: hsl(261, 5%, 70%);
  --sable-primary-on-container: hsl(261, 15%, 92%);
  
  /* Secondary */
  --sable-sec-main: hsl(260, 3%, 87%);
  --sable-sec-main-hover: hsl(260, 3%, 68.6%);
  --sable-sec-main-active: hsl(260, 3%, 74.9%);
  --sable-sec-main-line: hsl(260, 3%, 81.2%);
  --sable-sec-on-main: hsl(0, 0%, 0%);
  --sable-sec-container: hsl(260, 3%, 50%);
  --sable-sec-container-hover: hsl(0, 0%, 40%);
  --sable-sec-container-active: hsl(260, 3%, 12.5%);
  --sable-sec-container-line: hsl(0, 0%, 70%);
  --sable-sec-on-container: hsl(0, 0%, 4%);
  
  /* Success */
  --sable-success-main: hsl(0, 0%, 80%);
  --sable-success-main-hover: hsl(0, 0%, 85%);
  --sable-success-main-active: hsl(0, 0%, 65%);
  --sable-success-main-line: hsl(0, 0%, 85%);
  --sable-success-on-main: hsl(250, 27%, 42%);
  --sable-success-container: hsl(261, 40%, 52.5%);
  --sable-success-container-hover: hsl(261, 40%, 35.1%);
  --sable-success-container-active: hsl(261, 40%, 42.5%);
  --sable-success-container-line: hsl(261, 40%, 45%);
  --sable-success-on-container: hsl(261, 40%, 92%);
 
  /* Warning */
  --sable-warn-main: hsl(60, 100%, 72.9%);
  --sable-warn-main-hover: hsl(60, 100%, 68.4%);
  --sable-warn-main-active: hsl(60, 100%, 66.3%);
  --sable-warn-main-line: hsl(60, 100%, 63.9%);
  --sable-warn-on-main: hsl(60, 100%, 16.5%);
  --sable-warn-container: hsl(260, 3%, 70%);
  --sable-warn-container-hover: hsl(260, 3%, 30%);
  --sable-warn-container-active: hsl(260, 3%, 30.2%);
  --sable-warn-container-line: hsl(260, 3%, 90%);
  --sable-warn-on-container: hsl(260, 3%, 8%);
 
  /* Critical */
  --sable-crit-main: hsl(60, 100%, 68%);
  --sable-crit-main-hover: hsl(60, 100%, 63%);
  --sable-crit-main-active: hsl(60, 100%, 70%);
  --sable-crit-main-line: hsl(60, 100%, 68%);
  --sable-crit-on-main: hsl(60, 100%, 18%);
  --sable-crit-container: hsl(60, 100%, 26.9%);
  --sable-crit-container-hover: hsl(60, 100%, 18.3%);
  --sable-crit-container-active: hsl(60, 100%, 33.1%);
  --sable-crit-container-line: hsl(60, 100%, 35.9%);
  --sable-crit-on-container: hsl(60, 100%, 68%);
 
  /* Other */
  --sable-focus-ring: hsla(260, 3%, 65%, 0.8);
  --sable-shadow: hsla(260, 3%, 25%, 0.6);
  --sable-overlay: hsla(260, 3%, 2%, 0.9);
}

/* 3D Retro Border */
body.sable-remote-theme button:not([class*="Reply_Reply__1ew384n1"], 
  [class="MembersDrawer_DrawerVirtualItem__10re0tb7"] *, 
  [class*="style_PageHeader_outlined_true__1co06gja"] *, 
  [data-sentry-component="EmojiGroupHolder"] *, 
  [class*="style_PageNavHeader__1co06gj5"] *, 
  [class*="RoomViewFollowing"], [class="layout_Username__1r9nvas16"],
  [class="_1bv8u1w6 _1mqalmd1 _1mqalmd0 _1bugis90 _1bugis91 _1bv8u1w8 _1bv8u1wh _1bv8u1wf cpipac3"], 
  [class*="styles_EmojiItem__1n9oudof"], 
  [class="styles_UserHeroAvatarContainer__1eorsy95"] *) {
  border-width: 2px;
  border-style: outset;
  border-color: #c0c0c0;
}

/* Border & Vertical Lines*/
body.sable-remote-theme button:is([class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv4i prxiv41a prxiv41k"] *, 
[class="_1bv8u1w6 _1mqalmd1 _1mqalmd0 _1bugis90 _1bugis91 _1bv8u1w9 _1bv8u1wh _1bv8u1wf cpipac5 _1bv8u1wj"]) {
  border-width: 2px;
  border-style: outset;
  border-color: #c0c0c0;
    background:
    repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0px,
      rgba(0, 0, 0, 0.3) 2px,
      transparent 1px,
      transparent 3px
    ),
    #d4d0c8;
  color: hsl(260, 3%, 0%) !important;
  -webkit-text-stroke: 2px hsl(0, 0%, 70%);
 paint-order: stroke fill;
}
body.sable-remote-theme :is([class*="style_PageNavHeader_outlined_true__1co06gj6 style_SettingsSectionHeader__1co06gjg"] [class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv41k prxiv41s"], 
[class*="style_PageNavHeader__1co06gj5 style_PageNavHeader_outlined_true__1co06gj6"] [class="_1xny9xl0 _1mqalmd1 _1mqalmd0 _1xny9xl6 _1xny9xlr _1xny9xln"]:not([class*="style_PageNav_size_300__1co06gj1"] *), 
[class="_1xny9xl0 _1mqalmd1 _1mqalmd0 _1xny9xl6 _1xny9xlr _1xny9xln _1xny9xlk"]) {
  border-width: 1px; /* headers */
  border-style: outset;
  border-color: #c0c0c0;
    background:
    repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0px,
      rgba(0, 0, 0, 0.3) 2px,
      transparent 1px,
      transparent 3px
    ),
    #d4d0c8;
  color: hsl(260, 3%, 0%) !important;
  -webkit-text-stroke: 2px hsl(0, 0%, 70%);
 paint-order: stroke fill;
 width: 100%;
}

/* Border & Rainbow bg*/
body.sable-remote-theme button:is([class*="styles_NavCategoryHeader__e6taqj1"] *) {
  border-width: 2px;
  border-style: outset;
  border-color: #c0c0c0;
    background: linear-gradient(to right,
    hsl(105, 75%, 40%) 0%, hsl(105, 75%, 40%) 16.66%,
    hsl(44, 80%, 45%) 16.66%, hsl(44, 80%, 45%) 33.32%,
    hsl(32, 80%, 43%) 33.32%, hsl(32, 80%, 43%) 49.98%,
    hsl(0, 80%, 50%) 49.98%, hsl(0, 80%, 50%) 66.64%,
    hsl(299, 80%, 36%) 66.64%, hsl(299, 80%, 36%) 83.3%,
    hsl(198, 80%, 39%) 83.3%, hsl(198, 80%, 39%) 100% /* Rainbow */
  );
  color: hsl(260, 3%, 0%) !important;
  max-height: 18px;
  text-transform: lowercase;
}

/* Bottom Bar bg */
body.sable-remote-theme :is([class*=UserQuickTools], 
  [class="styles_AvatarPresenceBadge__1meaq7c1"]) {
background-color: hsl(260, 3%, 35%) !important;
}
body.sable-remote-theme :is([class*=UserQuickTools] *) {
fill: hsl(0, 0%, 90%) !important;
}

/* Timeline Pronouns */
.layout_PronounPill__1r9nvas18 {
    background: hsl(250, 30%, 36%);
    font-size: 11px;
}

/* White Text when on Purple*/
body.sable-remote-theme [data-sentry-component="ThemePreviewCard"] 
[class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv46 prxiv41j prxiv41s"] *:not(
[class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv41j prxiv41t"] *) {
color: hsl(0, 0%, 90%) !important;
}
body.sable-remote-theme [data-sentry-component="CatalogTweakCard"] 
[class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv46 prxiv41j prxiv41s"] * {
color: hsl(0, 0%, 90%) !important;
}
body.sable-remote-theme [placeholder*="Paste .preview.sable.css"] {
color: hsl(0, 0%, 90%) !important;
}

/* Custom Lobby Icon */
body.sable-remote-theme [class="styles_NavCategory__e6taqj0 _1mqalmd1 _1mqalmd0"]:first-of-type
[class="styles_NavItem__e6taqj9 _1mqalmd1 _1mqalmd0 styles_NavItemBase__e6taqj8 _1bugis91 styles_NavItem_variant_Background__e6taqja styles_NavItem_radii_400__e6taqjk cpipac3"]:first-of-type:not(:has(button, [data-sentry-source-file="Inbox.tsx"]))
[class="_1684mq51 _1mqalmd1 _1mqalmd0 _1bugis90 _1bugis91 _1684mq52 cpipac3"]::before { 
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M216,73.52C204.53,62.66,185,56,168,56a63.72,63.72,0,0,0-40,14h0A63.71,63.71,0,0,0,88.88,56C52,55.5,23.06,86.3,24,123.19a119.62,119.62,0,0,0,37.65,84.12A31.92,31.92,0,0,0,83.6,216h87.7a31.75,31.75,0,0,0,23.26-10c15.85-17,21.44-33.2,21.44-33.2h0c-16.79-11.53-24-30.87-24-52.78,0-18.3,11.68-34.81,24-46.48Z" fill="none" stroke="hsl(260, 0%, 8%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M168,8h-1a32,32,0,0,0-31,24" fill="none" stroke="hsl(260, 0%, 8%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>');
  /* ^replaced stroke="currentColor" w/ --sable-bg-on-container*/
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}
body.sable-remote-theme [class="styles_NavCategory__e6taqj0 _1mqalmd1 _1mqalmd0"]:first-of-type
[class="styles_NavItem__e6taqj9 _1mqalmd1 _1mqalmd0 styles_NavItemBase__e6taqj8 _1bugis91 styles_NavItem_variant_Background__e6taqja styles_NavItem_radii_400__e6taqjk cpipac3"]:first-of-type:not(:has(button, [data-sentry-source-file="Inbox.tsx"]))
[class="_1684mq51 _1mqalmd1 _1mqalmd0 _1bugis90 _1bugis91 _1684mq52 cpipac3"]
svg {
  display: none !important;
}