/*
@sable-theme
id: windows95
name: OS Windows 95
author: by userspring
kind: dark
contrast: low
tags: retro, green · recommended tweaks: square-everything, crt
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/os-windows95.sable.css
*/
.sable-theme-preview {
  --sable-bg-container: hsl(150, 3%, 58.4%);
  --sable-bg-on-container: hsl(150, 0%, 8%);
  --sable-surface-container: hsl(180, 80%, 22%);
  --sable-surface-container-line: hsl(180, 5%, 60%);
  --sable-surface-on-container: hsl(180, 0%, 90%);
  --sable-primary-main: hsl(150, 3%, 90%);
  --sable-primary-on-main: hsl(150, 3%, 11.6%);
}